{%extends "layout.html"%} {%block title%}
<title>Home</title>
{%endblock title%} {%block content%}

<div class="article">
    <h1 class="article-title">Natural Ecosystem</h1>
    <div class="article-text">
        <p>Welcome to Minifantasy - Builders, an asset pack in the line of Crafting And Professions with all you need to add building mechanics to your game. Inside the pack, you will find flexible assets to create your own building mechanics. This asset
            pack has been made with granularity in mind: You will be able to make from simple one-step construction mechanics to complex building systems where you need to go through various construction stages (digging foundations, setting up scaffolding
            and in-progress construction sections). The pack also include building animations for characters and working animations for five construction-related crafting stations.
        </p>

        <div class="page-buttons">
            <a href="#">Prev</a>
            <a href="#">/Next</a>
        </div>

    </div>

</div>

{%endblock content%}